:root {
  --interface-blue-color: #2a26f0;
  --interface-black-color: #000;
  --interface-light-gray-color: #cccbd6;
  --interface-gray-color: #7c7c82;
  --background-grey-color: #f7f7fa;
  --background-color: #fff;

}